table.calendar {
	table-layout: fixed;
	margin: 0 0 5px 10px;
	border-spacing: 0;
	border-collapse: collapse;
	padding: 0;
}

#content .c300 table.calendar {
	width: 639px;
}
#content .c225 table.calendar {
	width: 474px;
}
#content .c200 table.calendar {
	width: 419px;
}
#content .c150 table.calendar {
	width: 309px;
}
#content .c100 table.calendar {
	width: 199px;
}
#content .c75 table.calendar {
	width: 144px;
}

/* appointment info */
#content .c300 table.calendar span,
#content .c225 table.calendar span,
#content .c200 table.calendar span {
	display: block;
	overflow: hidden;
	text-align: left;
	font-weight: normal;
}
#content .c150 table.calendar span,
#content .c100 table.calendar span,
#content .c75 table.calendar span {
	display: none;
}

/* grid */
table.calendar th {
	text-align: center;
	font-weight: bold;
	padding: 3px 3px 2px 3px;
}
table.calendar td {
	padding: 2px 3px 2px 3px;
	text-align: right;
	vertical-align: top;
}
table.calendar td.today {
	font-weight: bold;
}
table.calendar td.deadline {
	font-weight: bold;
}