/* column definitions */
#content .c300,
#content .c225,
#content .c200,
#content .c150,
#content .c100,
#content .c75 {float: left;}

#content .c300 {width: 320px;}
#content .c225 {width: 320px;}
#content .c200 {width: 320px;}
#content .c150 {width: 320px;}
#content .c100 {width: 160px;}
#content .c75 {width: 160px;}


#content .border {
	margin: 0 0 6px;
	background-position: top;
	background-repeat: repeat-y;
}
#content .border .cInner {
	overflow: hidden;
	background-position: bottom;
	background-repeat: no-repeat;
}

/*
#content .c300.border {background-image: url(/img/framework/bg_c300_t_iphone.png);}
#content .c225.border {background-image: url(/img/framework/bg_c225_t_iphone.png);}
#content .c200.border {background-image: url(/img/framework/bg_c200_t_iphone.png);}
#content .c150.border {background-image: url(/img/framework/bg_c150_t_iphone.png);}
#content .c100.border {background-image: url(/img/framework/bg_c100_t_iphone.png);}
#content .c75.border {background-image: url(/img/framework/bg_c75_t_iphone.png);}

#content .c300.border .cInner {background-image: url(/img/framework/bg_c300_b_iphone.png);}
#content .c225.border .cInner {background-image: url(/img/framework/bg_c225_b_iphone.png);}
#content .c200.border .cInner {background-image: url(/img/framework/bg_c200_b_iphone.png);}
#content .c150.border .cInner {background-image: url(/img/framework/bg_c150_b_iphone.png);}
#content .c100.border .cInner {background-image: url(/img/framework/bg_c100_b_iphone.png);}
#content .c75.border .cInner {background-image: url(/img/framework/bg_c75_b_iphone.png);}
*/

#content div.targetContainer {
	display: none;
}

