/* column definitions */
.c {overflow: hidden; clear: both;}

.c300,
.c225,
.c200,
.c150,
.c100,
.c75 {float: left; overflow: hidden;}

.c300 {width: 768px;}
.c225 {width: 576px;}
.c200 {width: 512px;}
.c150 {width: 384px;}
.c100 {width: 256px;}
.c75 {width: 192px;}

.c300 .ci66 {float: left; width: 512px;}
.c300 .ci50 {float: left; width: 384px;}
.c300 .ci50 .ci33 {float: left; width: 384px;}
.c300 .ci66 .ci50,
.c300 .ci33 {float: left; width: 256px;}
.c300 .ci25 {float: left; width: 192px;}


.border {
	margin: 0 0 6px;
	background-position: top;
	background-repeat: repeat-y;
}
.border .cInner {
	overflow: hidden;
	background-position: bottom;
	background-repeat: no-repeat;
}
div.targetContainer {
	display: none;
}
.c300.border {background-image: url(/img/framework/bg_c300_t.png);}
.c225.border {background-image: url(/img/framework/bg_c225_t.png);}
.c200.border {background-image: url(/img/framework/bg_c200_t.png);}
.c150.border {background-image: url(/img/framework/bg_c150_t.png);}
.c100.border {background-image: url(/img/framework/bg_c100_t.png);}
.c75.border {background-image: url(/img/framework/bg_c75_t.png);}

.c300.border .cInner {background-image: url(/img/framework/bg_c300_b.png);}
.c225.border .cInner {background-image: url(/img/framework/bg_c225_b.png);}
.c200.border .cInner {background-image: url(/img/framework/bg_c200_b.png);}
.c150.border .cInner {background-image: url(/img/framework/bg_c150_b.png);}
.c100.border .cInner {background-image: url(/img/framework/bg_c100_b.png);}
.c75.border .cInner {background-image: url(/img/framework/bg_c75_b.png);}




/* SIZES */
#content .c300 input {
	width: 740px;
}
#content .c300 textarea {
	width: 746px;
}
#content .c300 select {
	width: 749px;
}
#content .c225 input {
	width: 548px;
}
#content .c300 textarea,
#content .c225 textarea {
	width: 554px;
}
#content .c225 select {
	width: 557px;
}
#content .c300 .ci66 input,
#content .c200 input {
	width: 484px;
}
#content .c300 .ci66 textarea,
#content .c200 textarea {
	width: 490px;
}
#content .c200 select {
	width: 493px;
}
#content .c300 input,
#content .c225 input,
#content .c150 input {
	width: 356px;
}
#content .c150 textarea,
#content .ci50 textarea {
	width: 362px;
}
#content .c300 select,
#content .c225 select,
#content .c150 select {
	width: 365px;
}
#content .c100 input,
#content .c300 .ci33 input,
#content .c300 .ci66 .ci50 input {
	width: 228px;
}
#content .c100 textarea {
	width: 234px;
}
#content .c100 select,
#content .c300 .ci33 select,
#content .c300 .ci66 .ci50 select {
	width: 237px;
}
#content .c75 input,
#content .c300 .ci25 input {
	width: 164px;
}
#content .c75 textarea {
	width: 170px;
}
#content .c75 select,
#content .c300 .ci25 select {
	width: 173px;
}