#content {
	float: left;
	margin: 0;
	padding: 10px 0;
	width: 768px;
	min-height: 400px;
}

#content label {
	display: block;
	margin: 0 10px;
	padding: 0 2px 2px 0;
	font-weight: bold;
}

/* label extra info container, primarily for errors */
#content label span {
	margin: 0;
	padding: 0 2px 0 8px;
}

#content h1 {
	font-weight: bold;
	padding: 3px 6px;
	margin: 0 4px 5px;
}
#content h2 {
	font-weight: bold;
	padding: 3px 6px;
	margin: 0 4px 5px;
}

#content h3,
#content h4 {
	margin: 0 10px;
	padding: 0 0 1px;
}

#content h4 {
	font-style: italic;
}

#content p {
	margin: 0 10px;
	padding: 0 0 15px;
}
#content img.picture {
	margin: 0 10px;
	padding: 0 0 5px;
}

/* HTML VIEW */
#content .htmlView {
	margin: 0 10px 5px;
}
#content .htmlView h1 {
	padding: 0 0 10px 0;
	margin: 0;
}
#content .htmlView h2,
#content .htmlView p {
	padding: 0 0 2px 0;
	margin: 0;
}

#content p.question,
#content p.hint,
#content p.info {
	padding: 5px;
	margin-bottom: 5px;
}

/* SEPARATOR */
div.separator {
	clear: both;
	margin: 0 10px 5px;
	line-height: 1px;
	height: 1px;
	padding: 0;
	font-size: 1px;
}

div.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
}

.expandable fieldset {
	display: none;
}
.expandable.open fieldset {
	display: block;
}
#content .expandable h2 {
	cursor: pointer;
	background: #CCCCCC url(/img/framework/gx_toggle.png) no-repeat 8px 4px;
	padding-left: 26px;
}
#content .expandable.open h2 {
	background: #CCCCCC url(/img/framework/gx_toggle_open.png) no-repeat 6px 6px;
}

/*
.expandable table {
	display: none;
}
.expandable.open * {
	display: block !important;
}
.expandable.open .hidden {
	display: none !important;
}

#content .expandable h2 {
	cursor: pointer;
	background: #CCCCCC url(/img/framework/gx_toggle.png) no-repeat 8px 4px;
	padding-left: 26px;
}
#content .expandable.open h2 {
	background: #CCCCCC url(/img/framework/gx_toggle_open.png) no-repeat 6px 6px;
}

.expandable.open table {display: table !important;}
.expandable.open tbody {display: table-body !important;}
.expandable.open th {display: table-cell !important;}
.expandable.open tr {display: table-row !important;}
.expandable.open td {display: table-cell !important;}
*/
.urlNav,
.tagsNav {display: none;}
.tags .tagsNav {display: block;}
.tags .urlNav {display: none;}
.url .tagsNav {display: none;}
.url .urlNav {display: block;}

#content table.nav .clickable td,
#content table.nav th {
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	font-size: 14px;
}

#content .useragents label {float: left;}
#content .useragents input {float: left; width: 640px;}
#content .useragents button {float: right; margin: 0 10px 10px 0;}

#content .presets {overflow: hidden;}
#content .presets li {float: left; width: 345px;}
#content .presets li.separator {float: none; display: block; height: 10px; padding: 0; clear: both;}

#content .patternsearchresult {padding: 5px 10px; background: #ffffff;}


#content .loglist ul {margin: 0; padding: 0; overflow: hidden;}
#content .loglist li {margin: 0; padding: 0;}

#content .loglist ul.years {margin: 0 4px; padding: 0 0 20px;}
#content .loglist ul.years li ul.months {display: none;}
#content .loglist ul.years li.open ul.months {display: block;}

#content .loglist h3 {margin: 0 0 1px; padding: 5px 10px; background: #cccccc;}

#content .loglist h4 {margin: 0; padding: 5px 10px;}
#content .loglist .months li {float: left; width: 62px;}

#content .loglist input {width: auto; float: left; margin-left: 7px;}
#content .loglist label {margin: 0; padding: 2px 3px; font-size: 11px; font-weight: normal; float: left;}

#content .logview .entries {margin: 10px; overflow: hidden; width: 748px;}
#content .logview .entry span {color: #bbbbbb; padding: 0 3px 0 0; font-size: 9px; white-space: nowrap;}
#content .logview .entry .date,
#content .logview .entry .time,
#content .logview .entry .ip {color: #0f0f0f;}
#content .logview .entry:hover span {font-size: 13px; color: #0f0f0f; white-space: normal;}

#content .logview .ips {padding: 10px; overflow: hidden;}
#content .logview .ip span {padding: 0 5px 0 0;}

#content .logview .entry .status.guessed {color: orange;}
#content .logview .entry .status.identified {color: green;}
#content .logview .entry .status.unique {color: green;}
#content .logview .entry .status.unidentified {color: red;}

#content .logview dl {font-size: 0; margin: 0 10px 20px;}
#content .logview dt {display: inline-block; vertical-align: top; width: 200px; font-size: 13px; font-weight: bold;}
#content .logview dd {display: inline-block; vertical-align: top; width: 400px; font-size: 13px; margin: 0;}
#content .logview dd span.count {display: inline-block; width: 30px; text-align: right; padding-right: 5px;}
#content .logview dd span.percent {display: inline-block; width: 80px; text-align: right; padding-right: 5px;}

#content .logview .expandable div.unidentified {display: none;}
#content .logview .expandable.open div.unidentified {display: block;}
#content .logview div.unidentified {margin: 10px; overflow: hidden; width: 748px;}


#content .logview .expandable div.top200 {display: none;}
#content .logview .expandable.open div.top200 {display: block;}
#content .logview div.top200 {margin: 10px; overflow: hidden; width: 748px;}
#content .logview div.top200 .entry .position {display: inline-block; width: 20px; text-align: right; padding-right: 5px;}
#content .logview div.top200 .entry .count {display: inline-block; width: 20px; text-align: right; padding-right: 10px;}
#content .logview div.top200 .entry .percent {display: inline-block; width: 50px; text-align: right; padding-right: 10px;}
#content .logview div.top200 .entry .details {display: none; border-top: 1px solid #333333; border-bottom: 1px solid #333333; padding: 20px;}
#content .logview div.top200 .entry:hover .details {display: block;}

#content .logview .expandable div.ips {display: none;}
#content .logview .expandable.open div.ips {display: block;}

#content .logview .expandable div.entries {display: none;}
#content .logview .expandable.open div.entries {display: block;}
