#header {
	margin: 0;
	padding: 10px 0 0;
	width: 988px;
}
#header h1 {
	padding: 0 5px 5px;
	margin: 0;
	font-weight: bold;
}
#login {
	clear: both;
	height: 18px;
}
#login span {
	line-height: 18px;
	height: 18px;
	padding: 0 10px;
}
#login span.over {
	cursor: pointer;
}

#trail {
	clear: both;
	margin: 0;
	padding: 5px 5px;
}