* html {
	height: 100%;
}
* html body {
	height: 100%;
}

* html div#page {
	height: 100%;
}

* html div#message {
	height: 14px;
}
* html div#content {
	height: 400px;
}
* html #menu {
	height: 390px;
}
* html #content .c300 .border {
	background: url(/img/framework/bg_c_t.png) repeat-y top;
}
* html #content .c300 .border .cInner {
	background: url(/img/framework/bg_c_b.png) no-repeat bottom;
}
* html #content .c225 .border {
	background: url(/img/framework/bg_c_threequarters_t.png) repeat-y top;
}
* html #content .c225 .border .cInner {
	background: url(/img/framework/bg_c_threequarters_b.png) no-repeat bottom;
}
* html #content .c200 .border {
	background: url(/img/framework/bg_c_twothirds_t.png) repeat-y top;
}
* html #content .c200 .border .cInner {
	background: url(/img/framework/bg_c_twothirds_b.png) no-repeat bottom;
}
* html #content .c150 .border {
	background: url(/img/framework/bg_c_half_t.png) repeat-y top;
}
* html #content .c150 .border .cInner {
	background: url(/img/framework/bg_c_half_b.png) no-repeat bottom;
}
* html #content .c100 .border {
	background: url(/img/framework/bg_c_third_t.png) repeat-y top;
}
* html #content .c100 .border .cInner {
	background: url(/img/framework/bg_c_third_b.png) no-repeat bottom;
}
* html #content .c75 .border {
	background: url(/img/framework/bg_c_quarter_t.png) repeat-y top;
}
* html #content .c75 .border .cInner {
	background: url(/img/framework/bg_c_quarter_b.png) no-repeat bottom;
}