fieldset,
form {
	padding: 0;
	margin: 0;
	border: none;
	overflow: hidden;
}

input,
select,
textarea {
	display: block;
	margin: 0 0 5px 10px;
	padding: 0;
	line-height: 16px;
	height: 16px;
	border: 1px inset;
}
input {
	padding: 0 3px;
}
select {
	line-height: 12px;
	height: 20px;
}
textarea {
	height: 200px;
	overflow: auto;
}

button {
	cursor: pointer;
	overflow: visible;
	/*height: 18px;*/
	/* safari 
	line-height: 18px;*/
	font-weight: bold;
	padding: 2px 4px;
	margin: 0 0 5px 10px;
}
* html button {
	line-height: 12px;
} 
button.fright {
	margin: 0 10px 5px 0;
}

/* checkbox and radiobutton */

#content div.CRcolumn,
#content div.CRrow {
	overflow: hidden;
}
#content div.CRcolumn input,
#content div.CRrow input {
	margin-top: 0;
	margin-left: 0;
	margin-right: 3px;
	float: left;
	display: block !important;
	height: 14px;
	width: 14px !important;
	border: none;
}
#content div.CRrow label {
	padding-right: 15px;
	width: auto;
	display: block !important;
	max-width: 200px;
	margin-bottom: 6px;
	padding-bottom: 5px !important;
}
#content div.CRcolumn label {
	padding-left: 5px !important;
	float: left;
	display: block !important;
	width: 330px;
	max-width: 330px;
	margin-bottom: 6px;
	padding-bottom: 5px !important;
}

input.checkbox,
input.radio {
	display: inline !important;
	margin: 0 4px 0 0;
	padding: 0;
	border: none;
	width: 14px !important;
	height: 14px;
}
div.radio,
div.checkbox {
	margin: 0 0 5px 10px;
}
div.radio label,
div.checkbox label  {
	display: inline !important;
	vertical-align: top;
	padding: 0 10px 0 0 !important;
	margin: 0 !important;
	font-weight: normal !important;
}


#content input.file {height: 22px;}

#content .editing {
	overflow: hidden;
}
#content .edit input {
	display: none;
}

#content .image {
	position: relative;
}

#content .image input {
	position: absolute;
	top: 0;
	left: 0;
}
#content .image span.save {
	position: absolute;
	top: 0;
	left: 420px;
}
#content .image span.cancel {
	position: absolute;
	top: 0;
	left: 450px;
}


#content .editing img {
	border: 1px solid #ff0000;
	padding-bottom: 0;
	margin: 0 9px 3px;
}
#content .c300 .ci66 .editing input,
#content .c200 .editing input {
	display: block;
	float: left;
	width: 400px;
	background: transparent;
	border: 1px solid #ff0000;
}
#content .editing button {
	display: block;
	float: left;
	width: 18%;
}
#content .edit span {
	display: none;
}
#content .editing span.save,
#content .editing span.cancel {
	display: block;
	float: left;
	margin: 2px 10px;
	padding: 0 9px;
	font-size: 12px;
	line-height: 13px;
	height: 15px;
	width: 7px;
	color: white;
	cursor: pointer;
}
#content .editing span.save {
	background: green;
}
#content .editing span.cancel {
	background: red;
}

#content .edit label {
	display: none;
}
#content .editing label {
	display: block;
}
#content .edit p {
	display: block;
}
#content .editing p {
	display: none;
}


div.autocompleteOptions {
	display:  none;
	position: absolute;
	background-color: #FFFFFF;
	text-align: left;
	border: 1px solid #666666;
}
div.autocompleteOptions div {
	padding: 2px 5px;
}
div.autocompleteOptions div.selected {
	background-color: #DDDDDD;
}

input.inline {
	display: inline;
	margin-right: 10px;
	width: 20px !important;
}

.location {overflow: hidden;}
.location .deg, .location .min {width: 120px; overflow: hidden; float: left;}
.location input.latlon, .location input.latlonmin {width: 100px !important;}
