#message {
	float: left;
	margin: 0;
	padding: 5px 0;
	min-height: 14px;
	width: 768px;
}
div#message p {
	margin: 0;
	font-weight: bold;
}
.dev div.codeError {
	display: block;
}
div.codeError {
	display: none;
	background: url("/img/framework/gx_code_error.png") no-repeat 10px 0;
	margin: 0 10px 0 0;
	padding: 0 0 5px 25px;
	/*
	height: 14px;
	width: 1px;
	*/
	overflow: hidden;
}
div.codeError:hover {
	height: auto;
	width: auto;
}

.loader {
	position: absolute;
	opacity: 0.6;
	background-color: #ffffff;
	top: 0px;
	left: 0px;
}
.c150 .deleteConfirm {
	width: 376px;
}
.c300 .deleteConfirm {
	width: 760px;
}
.deleteConfirm {
	display: none;
	position: absolute;
	background-color: #ffffff;
	margin: 1px 4px;
	bottom: 0px;
	left: 0px;
}