#nav {
	float: left;
	margin: 0 5px 0 0;
	padding: 10px 0;
	overflow: hidden;
	width: 215px;
	min-height: 390px;
}
#nav a,
#nav li.selected a {
	text-decoration: none;
	word-wrap: break-word;
	padding: 5px 10px;
	display: block;
	background: #cccccc;
}
#nav li {
	background-position: 0 5px;
	background-repeat:  no-repeat;
	padding: 2px 15px;
}
#nav li li {
	padding: 2px 0 2px 20px;
	background-position: 5px 5px;
}

#nav li.selected {
	font-weight: bold;
}
#nav li.over {
	cursor: pointer;
}
#nav li.over a {
	text-decoration: underline;
}
#nav a:hover {
	text-decoration: underline;
	cursor: pointer;
}
#nav li.super {
	cursor: s-resize;
	background-image: url(/img/framework/gx_arrow_right.png);
}
#nav li.open {
	cursor: n-resize;
	background-image: url(/img/framework/gx_arrow_down.png);
}
#nav li.separator {
	margin: 5px 15px 5px 0;
	padding: 0;
}
