table {
	margin: 0 0 5px 10px;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}

#content .c300 table {width: 748px;}
#content .c225 table {width: 556px;}
#content .c200 table,
#content .c300 .ci66 table {width: 492px;}
#content .c150 table,
#content .c300 .ci50 table {
	width: 364px;
}
#content .c100 table,
#content .c300 .ci33 table {
	width: 236px;
}
#content .c75 table {width: 172px;}

table th {
	text-align: left;
	font-weight: bold;
	padding: 3px 3px 2px 5px;
	white-space: nowrap;
}
table td {
	padding: 2px 3px 2px 5px;
	white-space: nowrap;
	vertical-align: top;
}
th.max,
td.max {
	width: 100%;
	white-space: normal;
}
th.semi,
td.semi {
	width: 50%;
	white-space: normal;
}

/* INPUTS AND SELECTS */
table input.checkbox {
	margin: 0;
}
#content table.table input,
#content table.table select {
	width: auto !important;
	margin: 0;
	display: inline;
}
#content table.table td.w50 input,
#content table.table td.w50 select {
	width: 50px;
	margin: 0;
	display: inline;
}
#content table.table td.w100 input,
#content table.table td.w100 select {
	width: 100px;
	margin: 0;
	display: inline;
}
#content table.table td.semi input,
#content table.table td.semi select,
#content table.table td.max input,
#content table.table td.max select {
	width: 100%;
	margin: 0;
	display: inline;
}

/* SEARCH */
th.search {
	padding: 1px 3px 1px 5px;
	text-align: right;
}
th.search input {
	height: 14px;
	margin: 0;
	display: inline;
}
th.search.onecol {
	text-align: left;
}
th.search.onecol input {
	float: right !important;
}
#content .c300 th.search input {width: 150px;}
#content .c225 th.search input {width: 120px;}
#content .c200 th.search input {width: 110px;}
#content .c150 th.search input {width: 90px;}
#content .c100 th.search input {width: 50px;}
#content .c75 th.search input {width: 40px;}

/* INDENT SCHEME */
td.indent_1,
td.indent_2,
td.indent_3,
td.indent_4,
td.indent_5,
td.indent_6,
td.indent_7,
td.indent_8 {background-repeat: no-repeat;}

td.indent_1 {padding-left: 20px; background-position: 0px center !important;}
td.indent_2 {padding-left: 40px; background-position: 15px center !important;}
td.indent_3 {padding-left: 60px; background-position: 30px center !important;}
td.indent_4 {padding-left: 80px; background-position: 45px center !important;}
td.indent_5 {padding-left: 100px; background-position: 60px center !important;}
td.indent_6 {padding-left: 120px; background-position: 75px center !important;}
td.indent_7 {padding-left: 140px; background-position: 90px center !important;}
td.indent_8 {padding-left: 160px; background-position: 105px center !important;}

/* INCREMENTAL LIST */
td.incremental {
	padding: 2px 0 2px 3px !important;
	white-space: nowrap;
}
td.incremental span.add {
	float: left;
	height: 18px;
	padding: 0 8px;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-image: url(/img/framework/gx_add.png);
}
td.incremental span.remove {
	float: left;
	height: 18px;
	padding: 0 7px;
	background-repeat: no-repeat;
	background-position: 5px center;
	background-image: url(/img/framework/gx_remove.png);
}

/* SORT BY DRAG N DROP LIST */
tr.intersection td {
	padding: 2px 0 0 0;
}
tr.intover td {
	cursor: move;
}
.draggedElement {
	position: absolute;
}


.nav td.num {text-align: right;}
.nav tr.tr0.trail td {color: #dddddd;}
.nav tr.tr1.trail td {color: #bbbbbb;}
.nav tr.tr0.disabled td {color: #dddddd;}
.nav tr.tr1.disabled td {color: #bbbbbb;}
.nav tr.tr0.off td {color: #dddddd;}
.nav tr.tr1.off td {color: #bbbbbb;}
.nav tr.disabled td.num {color: #f3f3f3;}
.nav tr.disabled:hover td.num {color: yellow;}
.nav tr.page td {}
